* {
  font-family: "Roboto", sans-serif;
  /* margin: 0px;
  padding: 0px; */
  /* border: 1px solid red; */
}

.main-logo {
  width: 270px;
}

li {
  list-style: none;
  padding: 0 9px;
}

a {
  color: #ababab;
  text-decoration: none;
}

.links-about {
  color: #00b39b;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  align-items: center;
}

.lead-title {
  text-align: center;
  color: #00b39b;
  font-size: 34px;
  margin: 34px 0px;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-logo {
  width: 40px;
  margin-left: auto;
}

.container > div {
  width: 500px;
}

div > p {
  font-size: 16px;
  color: #747474;
  margin: 12.8px 0px;
}

.container > img {
  margin: 0px;
}
.cards {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  gap: 10px;
  justify-content: center;
}
.card1 {
  background-color: #00b39b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 250px;
  border-radius: 10px;
}

.card2 {
  background-color: #3d83df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 250px;
  border-radius: 10px;
}
.card3 {
  background-color: #1b2734;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 250px;
  height: 345px;
  border-radius: 10px;
}

.cards h1 {
  font-size: 26px;
  color: white;
  font-weight: 200;
  margin: 6px 0px;
  margin: 7.8px 0px;
}
.cards p {
  font-size: 18px;
  color: white;
}

